:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.newly-picked {
  animation: fadeIn 0.5s ease-out;
}

@keyframes vertical-scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.gacha-animation-text span {
  animation: vertical-scroll 0.2s linear infinite alternate;
  display: inline-block;
  will-change: transform;
}
